.aboutkang{
    max-width: 100%;
}

.kang-left , .kang-right{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    color: black;
    margin:  20px 20px;
}

.kang-left {
    font-size: 1.5em;
    line-height: 40px;
    padding: 0 20px;
}

 @media only screen and (max-width: 600px) {
    .aboutkang { margin: 0 20px;
    padding-top: 0;} 
    .about-title { font-size: 35px; }

    .text-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto; 
    }

    .kang-left , .kang-right{
        width: 100%;
        margin: 0;
        text-align: center;        
    }

    .logo {
        width: 300px;
        height: 300px;
    }

    .kang-right{
        padding-top: 20px; 
    } 
}

@media only screen and (min-width: 601px) {
    .aboutkang { margin: 0 20px;} 

    .about-section {
        flex-direction: column;
    }

    .kang-left , .kang-right{
        width: 30%;
    }

    .logo {
        width: 300px;
        height: 300px;
    }

    .about-title { font-size: 45px;}
}

@media only screen and (min-width: 992px) {
    .about-section {
        flex-direction: row;
    }
}
