.about{
    max-width: 100%;
    padding: 100px 0 50px 0;
}

.about-title{
    color: black;
    font-size: 45px;
}

.left , .right{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    color: black;
    margin:  20px 20px;
}

.logo {
    width: 10px;
    height: 200px;
    padding: auto;
}

.right {
    font-size: 1.5em;
    line-height: 40px;
}

@media only screen and (max-width: 414px) {
    .about { padding-top: 50px; 
        margin: 0 20px;} 
    .about-title { font-size: 25px;
   }

    .text-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto; 
    }

    .left , .right{
        width: 100%;
        margin: 0;
        text-align: center;        
    }

    .right{
        padding: 25px 0 0 0;

    } 

    img .logo {
      padding-left:0;
    }
}

@media only screen and (max-width: 600px) {
    .left , .right{
        width: 100%;
    }
}
