.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.row >.column {
  flex: 1 1 clamp(40ch, calc(1 / 4 * 100%), 100%);
  margin-bottom: 50px;
}

.contact-title {
  letter-spacing: 8px;
  text-transform: uppercase;
  color: rgba(2, 2, 2, .7);
}

.contact-content {
  font-size: 1.3em;
  color: rgba(2, 2, 2, .7);
}
