.footer-container{
    background-color: rgba(0,0,0,.9);
    width: 100%;
    padding: 150px 0;
    display: flex;
    align-items: baseline;
}

.footer-container .column {
    display:inline-block;
    min-height: 150px;
    padding: 0 30px;
  }

.text1{
    font-family: 'Dancing Script', cursive;
    color: blanchedalmond;
    font-size: 145px;
    line-height: 130px;
    margin-top: 0;
}

.container-middle{
    display: flex;
    flex-direction: column;  
}

.footer-title{
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'CeraPRO-Medium';
    font-size: 1.2em;
}

a[href^="tel"] {
    color: chocolate;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.6em;
    background: url(../assets/icons/icon_phone.svg) no-repeat 7px 7px;
    background-size: 18px 18px;
    padding: 7px 0 7px 35px;
}

.address-time{
    color: rgba(191,191,191, .9);
    font-weight: 700;
    font-size: 1.1em;
}

.copyright{
    color: gray;
    margin-top: -90px;
    padding-bottom: 50px;
    margin-bottom: 0;
    font-size: 1.5em;
}

@media only screen and (max-width: 991px) {
    .footer-container #first {order: 1;}
    .footer-container #second {order: 3;}
    .footer-container #third {order: 2;}

    .footer-container{
        flex-direction: column;
        align-items: center;
        padding: 50px 0 20px 0;
    }

    .footer-title, 
    .address-time,
    .copyright {
        font-size: 1.0em;
    }

    a[href^="tel"] {
        font-size: 1.2em;
    }

    .column:nth-of-type(1),
    .column:nth-of-type(2),
    .column:nth-of-type(3) {
        width: 300px;
    }

    .text1{
        margin-bottom: 90px;
        font-size: 60px;
    }

    .copyright{
        width: 100%;
        padding-bottom: 30px;
    }

    .container-middle{
        align-items: center;  
    }

    .address {padding-bottom: 20px;}
    .column:nth-of-type(3) {margin-top: 20px;}
    .footer-title:nth-of-type(5) { margin-bottom: 40px;}

    .column { position: relative;}
    .address::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px; 
        background: #fff; 
        top: 100%;
        left: 25%;
    }
}

@media only screen and (min-width: 415px) {
    .column:nth-of-type(1),
    .column:nth-of-type(2),
    .column:nth-of-type(3) {
        width: 500px;
    }
}

@media only screen and (min-width: 992px) {
    .footer-container #first {order: 1;}
    .footer-container #second {order: 3;}
    .footer-container #third {order: 2;}

    .column:nth-of-type(1),
    .column:nth-of-type(2),
    .column:nth-of-type(3) {
        width: 33.333%;
    }

    .footer-container{
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-container #first {order: 1;}
    .footer-container #second {order: 2;}
    .footer-container #third {order: 3;} 

    .text1{
        margin: 0 0 150px 0;
        font-size: 105px;
        line-height: 100px;
    } 
}

@media only screen and (min-width: 1200px) {

   
} 
  
