.footer-column {
    flex: 1 1 clamp(20ch, calc(1 / 4 * 100%), 100%);
    display:inline-block;
    min-height: 150px;
    padding: 0 30px;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    padding: 50px 0 0 0;
  }

.text1{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 95px;
    margin: 0;
}

.container-middle{
    display: flex;
    flex-direction: column;  
    margin-bottom: 50px;
}

.copyright{
    color: gray;
    /* margin-top: -90px; */
    /* padding-bottom: 50px; */
    margin-bottom: 0;
    font-size: 1.0em;
}
