.containerG{
  max-width: 100%;
  margin: 0;
  background-color: #000;
}

.containerG img{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 6px;
}

.g-title{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  margin: 0 5px;
  padding-top: 100px;
  font-family: 'Merienda', cursive;
}

.g-store{
  font-family: 'Dancing Script', cursive;
  font-family: 'Smooch', cursive;
  color: black;
  font-size: 45px;
}

hr {
  margin: 10px 600px 40px 600px;
  height: 3px;
  border: 0;
  background-image: linear-gradient(
  to right,
  rgba(255,255,255,0),
  rgba(255,255,255,0.5),
  rgba(255,255,255,0.5),
  rgba(255,255,255,0)
);
}

.popup_original {
  z-index: -1;
}

button  {
  margin: 0 0 10px 0;
  border: 0;
  background-color: #000;
position: relative;
}

.bottom-left {
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:rgba(255,255,255, 0.8);
}