.gallery-container {
  margin: 0 0 50px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-container div.gallery-box {
  width: 400px;
  height: 400px;
  /* margin: 0 20px 20px 0; */
  /* position: relative; */
  margin-bottom: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
}

.gallery-box  img{
  width: 100%;
  min-width: 360px;
  height: 100%;
  object-fit: cover;
}

.gallery-container div.gallery-box:hover img {
  opacity: .8;
}

/* .dine-title {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5em;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
} */

/* .gallery-container div.gallery-box:hover .dine-title,
.gallery-container div.gallery-box:hover .dine-discription {
  visibility: visible;
  opacity: 1;
} */


/* .dine-discription {
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5em;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
} */

@media only screen and (max-width: 414px) {
  .gallery-container div.gallery-box {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .gallery-container div.gallery-box{
    margin-right: 20px;
  }
}
