.containerG{
    max-width: 100%;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* rgb(211, 211, 211, 0.2) */
    
}

.g-title{
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0 5px;
    padding-top: 200px;
}

 .g-store{
    font-family: 'Dancing Script', cursive;
    font-family: 'Smooch', cursive;
    color: black;
    font-size: 45px;
}

.line{
    width: 40px;
}

button  {
  margin: 0 0 50px 0;
  border: 0;
  background-color: white;
  position: relative;
}

.bottom-left {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgba(255,255,255, 0.8);
}