.containerM1{
    background-color: #fff;
    padding: 0 0 50px 0;
}

article {
    margin: 20px 35px 0 35px;
  }

#panels {
	margin: 30px 0 0 0;
}

#panels nav {
	margin-bottom: -1px;
}

#panels nav::after {
	content: '';
	display: block;
	clear: both;
}

#panels label {
	cursor: pointer;
	display: inline-block;
	color: #ef9d26;
    font-weight: 700;
    font-size: 1.5em;
	padding: 10px 25px;
	border: 1px solid #ef9d26;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	transition: background-color .3s;
}

#panels label:hover {
	background-color: rgba(255,255,255,.1);
}

#panels > div {
	background-color: rgba(0,0,0,.6);
	border: 1px solid #ef9d26;
	padding: 20px;
	display: none;
}

#panels input {
	display: none;
}

#panels > input[id="appetizer"]:checked ~ nav label[for="appetizer"],
#panels > input[id="noodle"]:checked ~ nav label[for="noodle"],
#panels > input[id="takeout"]:checked ~ nav label[for="takeout"] {
	background-color: #ef9d26;
	color: #fff;
}

#panels > input[id="appetizer"]:checked ~div[id="panel1"],
#panels > input[id="noodle"]:checked ~div[id="panel2"],
#panels > input[id="takeout"]:checked ~div[id="panel3"] {
	display: block;
}

p {
    color: #fff;
}

#panel2{
	margin: 0 15px;
	display: flex;
	flex-direction: row;
}

.eachbox {
	flex-basis: 0;
	flex-grow: 1;
	padding: 18px;
}

.price {
	display: flex;
	flex-direction: row;	
}

.menu-container{
	position: relative;
	text-align: center;
	color: red;
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
	/* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

.dine-container,.special-container,.out-container{
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.dine,.special,.out {
	position: absolute;
	top: 10px;
	left: 10px;
}

.m-title-black{
	color: #000;
	font-size: 45px;
    text-transform: uppercase;
    margin: 0 5px;
    font-family: 'Merienda', cursive;
}
a {
	height: 0;
	
}
