.bg {
    background-attachment: fixed;
    /* z-index: -2; */
    background-image: url("../assets/images/main.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

p.cuisine{
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: -50px 0 -20px 0;
}

h1.text {
    margin: 0;
    font-size: 200px;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Smooch', cursive; */
}

/* @media only screen and (max-width: 600px) {

    .bg {
        height: 800px; 
        background-size: auto ;
      }
    .cusine{
        letter-spacing: 10px;
        font-size: 20px;
        margin: 0 0 -20px 0;
        text-transform: uppercase;
    }

    .iconBox > .icon{
        width: 40px;
        height:40px;
        padding: 0 10px 0 0;
    }

    .iconBox >h1 {
        font-size: 35px;
    }

    .iconBox{
        margin-bottom: 10px;
    }

    .cusine{
       padding: 0 10px;
    }
  } */

/* @media only screen and (min-width: 600px) {
    .iconBox > .icon{
        width: 50px;
        height:50px;
    }

    .cusine{
        padding: 10px 15px;
     }

    .iconBox >h1 {
        font-size: 75px;
    }  
} */
  
  
  /* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .iconBox > .icon{
        width: 60px;
        height:60px;
    }

    .iconBox >h1 {
        font-size: 85px;
    }
} */

/* @media only screen and (min-width: 992px) {
    .iconBox >h1 {
        font-size: 150px;
    }

    .iconBox > .icon{
        width: 100px;
        height:100px;
    }
} 
   */