.bg {
    background-attachment: fixed;
    background-image: url("../assets/images/main.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

p.cuisine{
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: -50px 0 -20px 0;
    font-family: 'Merienda', cursive;
}


@media only screen and (max-width: 600px) {
    .bg {
        background-position: right bottom;
    }

    p.cuisine{
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: -100px 0 0 0;
        font-family: 'Merienda', cursive;
    }

    h1.text {
        font-size: 80px;
    }
  }

@media only screen and (min-width: 600px) {
    p.cuisine{
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: -100px 0 0 0;
        font-family: 'Merienda', cursive;
    } 

    h1.text {
        font-size: 120px;
    }
}


@media only screen and (min-width: 992px) {
    p.cuisine{
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: -100px 0 0 0;
        font-family: 'Merienda', cursive;
    } 

    
h1.text {
    margin: 0;
    font-size: 250px;
    font-family: 'Dancing Script', cursive;
}
} 
  