// @import url('https://fonts.googleapis.com/css?family=Warnes|Abel');
// @import url('https://fonts.googleapis.com/css2?family=Buda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
.App {
  height: 100%;
  margin: 0 auto;
}

body{
  // font-family: 'nanumsquare';
  // font-family: 'Buda', cursive;
  font-family: 'Overlock SC', cursive;
  // cursor: url('./assets/images/maru1.png') 4 12 , auto;
}

h4, p {
  margin: 2px;
}
