@import url('https://fonts.googleapis.com/css?family=Warnes|Abel');

.App {
  height: 100%;
  margin: 0;
  text-align: center;
}

body{
  font-family: 'nanumsquare';
}

h1{
  color: whitesmoke;
}

p{
  color: white;
}



.neon {
  font-family: 'Warnes', cursive;
  font-size: 10rem;
  text-shadow:
		-2px -2px 10px #fff,
		2px 2px 10px #fff,
		0 0 20px #ff00de,
		0 0 40px #ff00de,
		0 0 60px #ff00de,
		0 0 80px #ff00de,
		0 0 100px #ff00de
		;
}

/* 8000ff */

